* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
}

img{
    max-width: 100%;
    height: auto;
}

ul, ol{
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.container-fluid{
    width: 1240px;
    margin: 0 auto;
}

.header{
    background-color: #5454D4;
    padding: 20px 30px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-toggle{
    display: none;
    padding-bottom: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.nav-toggle:hover{
    cursor: pointer;
}

.homepage-link{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-link{
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.nav-link-link{
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.homepage-link:hover, .nav-link:hover{
    text-decoration: underline;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}

.header-info{
    width: 45%;
}

.header-title{
    color: white;
    font-size: 60px;
}

.header-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
    padding: 25px 0;
}

.header-box{
    background-color: #6565E9;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.box-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-price-number{
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.discount{
    color: white;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #77BF41;
    border-radius: 5px;
}

.box-original-price{
    color: rgba(255, 255, 255, 0.7);
    font-size: 21px;
}


.input-header {
    max-width: 91px;
    height: 60px;
    padding-right: 17px;
    outline: none;
    background: #F7F7FB;
    border-radius: 5px;
    border: none;
    font-size: 21px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(0, 0, 0, 0.788926);

}

.header-button {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(0, 0, 0, 0.788926);
    background: #FEDC5A;
    border: 1px solid #F0C931;
    border-radius: 5px;
    padding: 17px 40px;
    outline: none;
    margin-left: 21px;
}

.input-header::-webkit-inner-spin-button,
.input-header::-webkit-outer-spin-button {
opacity:1;
padding: 20px 0;
}

.header-button:hover{
    cursor: pointer;
}

.header-add{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.box-number-link{
    text-decoration: none;
    color: black;
    background-color: #FEDC5A;
    margin-left: 10px;
    padding: 20px 40px;
    border-radius: 5px;
}

.box-number-link:hover{
    text-decoration: underline;
}

.get-noise{
    padding: 100px 0;
    background-color: #F2F2F2;
}

.get-noise .container{
    display: flex;
    align-items: center;
}

.get-noise-title{
    font-size: 60px;
    color: #19191B;
}

.get-noise-text{
    font-size: 21px;
    color: #696871;
    line-height: 2;
    padding: 25px 0;
}

.get-noise-box{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    padding: 10px;
    width: 350px;
    transition: 0.4s;
}

.get-noise-box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.get-noise-box-text{
    padding: 0 10px;
}

.get-noise-box-text-title{
    font-size: 21px;
    color: #19191B;
}

.get-noise-box-text-text{
    color: #696871;
}

.items{
    background-color: #413E65;
    padding: 50px 0;
}

.items-heading{
    font-size: 60px;
    text-align: center;
    padding: 50px 0;
    color: white;
}

.items-list{
    display: flex;
    justify-content: space-evenly;
}

.items-item{
    margin: 15px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 400px;
    transition: 0.4s;
}

.items-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.items-item-title{
    padding-left: 10px;
}

.music{
    padding: 100px 0;
}

.music-title{
    font-size: 60px;
    text-align: center;
}

.music-text{
    text-align: center;
    color: #696871;
    padding: 30px 0;
    line-height: 40px;
    font-size: 21px;
}

.music-images{
    display: flex;
    padding-top: 20px;
}

.people{
    background-image: url("./img/BG\ \(1\).png");
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.people-title{
    font-size: 60px;
    color: white;
}

.people-text{
    color: #ffffff;
    line-height: 30px;
    font-size: 21px;
    padding: 30px 0;
}

.people-link{
    text-decoration: none;
    color: #000000;
    padding: 10px 30px;
    background-color: #FEDC5A;
    border-radius: 5px;
    font-size: 21px;
}

.people-link:hover{
    text-decoration: underline;
}

.customers-page{
    padding: 100px 0;
}

.customers-title{
    text-align: center;
    font-size: 60px;
}

.customers-text{
    font-size: 21px;
    color: #696871;
    text-align: center;
    padding: 20px 0;
}

.customers-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-item{
    width: 35%;
    margin: 0 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #EAE9F2;
    padding: 20px 25px;
    border-radius: 10px;
    transition: 0.4s;
}

.customers-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.customers-item-text{
    font-size: 21px;
    color: #19191B;
    padding-bottom: 15px;
}

.customers-info{
    display: flex;
    align-items: center;
}

.customers-info-title-text{
    margin-left: 10px;
}

.customers-info-text{
    color: #696871;
}

.enjoy{
    background-color: #5454D4;
    padding: 100px 0;
}

.enjoy .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enjoy-title{
    color: white;
    font-size: 60px;
}

.enjoy-link{
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    background-color: #FEDC5A;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #F0C931;
    display: inline;
}

.enjoy-link:hover{
    text-decoration: underline;
}

.footer{
    padding: 30px 0;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-back{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.footer-list{
    display: flex;
    justify-content: space-between;
}

.footer-item{
    padding: 0 15px;
}

.footer-link{
    text-decoration: none;
    color: #19191B;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer-text{
    color: #19191B;
}

@media (min-width: 320px) and (max-width:568px){
    .nav-toggle{
        display: block;
    }
  
    .nav-link{
        display: none;
    }
    .container{
        width: 250px;
        margin: 0 auto;
    }

    .container-fluid{
        width: 280px;
        margin: 0px auto;
    }

    .header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-title{
        font-size: 20px;
    }

    .header-info{
        text-align: center;
    }

    .box-price{
        width: 100px;
    }

    .box-price-number{
        font-size: 40px;
    }

    .header-add{
        flex-direction: column;
    }

    .header-button{
        font-size: 16px;
        margin-top: 10px;
        margin-left: -10px;
    }

    .headphone-img{
        width: 100px;
        height: 150px;
    }

    .second-headphone-img{
        width: 100px;
        order: -1;
        height: 150px;
    }

    .get-noise .container{
        flex-direction: column;
    }

    .get-noise-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .get-noise-title{
        font-size: 40px;
    }

    .items-heading{
        font-size: 40px;
    }

    .items-list{
        flex-wrap: wrap;
    }

    .music-title{
        font-size: 40px;
    }

    .music-images{
        display: flex;
        flex-wrap: wrap;
    }

    .people-title{
        font-size: 40px;
        text-align: center;
    }

   
    .customers-title{
        font-size: 40px;
    }


    .customers-text{
        font-size: 18px;
        text-align: center;
    }
    .customers-list{
        display: flex;
        flex-direction: column;
    }

    .customers-item{
        width: 400px;
        margin: 10px 0;
    }

    .enjoy .container{
        display: flex;
        flex-direction: column;
    }

    .enjoy-title{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .container{
        display: flex;
        flex-direction: column;
    }

    .footer-list{
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .footer-item{
        padding: 10px;
    }
}

@media (min-width: 569px) and (max-width: 767px){
    .nav-toggle{
        display: block;
    }
  
    .nav-link{
        display: none;
    }
    .container{
        width: 400px;
        margin: 0 auto;
    }

    .container-fluid{
        width: 320px;
        margin: 0px auto;
    }

    .header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-title{
        font-size: 20px;
    }

    .header-info{
        text-align: center;
    }

    .box-price{
        width: 100px;
    }

    .box-price-number{
        font-size: 40px;
    }

    .header-add{
        flex-direction: column;
    }

    .header-button{
        font-size: 16px;
        margin-top: 10px;
        margin-left: -10px;
    }

    .headphone-img{
        width: 100px;
        height: 150px;
    }

    .second-headphone-img{
        width: 100px;
        order: -1;
        height: 150px;
    }

    .get-noise .container{
        flex-direction: column;
    }

    .get-noise-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .get-noise-title{
        font-size: 40px;
    }

    .items-heading{
        font-size: 40px;
    }

    .items-list{
        flex-wrap: wrap;
    }

    .music-title{
        font-size: 40px;
    }

    .music-images{
        display: flex;
        flex-wrap: wrap;
    }

    .people-title{
        font-size: 40px;
        text-align: center;
    }

   
    .customers-title{
        font-size: 40px;
    }


    .customers-text{
        font-size: 18px;
        text-align: center;
    }
    .customers-list{
        display: flex;
        flex-direction: column;
    }

    .customers-item{
        width: 400px;
        margin: 10px 0;
    }

    .enjoy .container{
        display: flex;
        flex-direction: column;
    }

    .enjoy-title{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .container{
        display: flex;
        flex-direction: column;
    }

    .footer-list{
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .footer-item{
        padding: 10px;
    }
}

@media (min-width:768px) and (max-width: 1023px){
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .container-fluid{
        width: 720px;
        margin: 0px auto;
    }

    .header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-title{
        font-size: 20px;
    }

    .header-info{
        text-align: center;
    }

    .box-price{
        width: 100px;
    }

    .box-price-number{
        font-size: 40px;
    }

    .header-add{
        flex-direction: column;
    }

    .header-button{
        font-size: 16px;
        margin-top: 10px;
        margin-left: -10px;
    }

    .headphone-img{
        width: 100px;
        height: 150px;
    }

    .second-headphone-img{
        width: 100px;
        order: -1;
        height: 150px;
    }

    .get-noise .container{
        flex-direction: column;
    }

    .get-noise-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .get-noise-title{
        font-size: 40px;
    }

    .items-heading{
        font-size: 40px;
    }

    .music-title{
        font-size: 40px;
    }

    .music-images{
        justify-content: center;
    }

    .girl-photo{
        width: 450px;
    }

    .people{
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 0;
        height: 400px;
    }

    .people .container{
      margin-top: -50px;
    }
    .people-title{
        font-size: 40px;
    }

    .customers-title{
        font-size: 40px;
    }

    .customers-text{
        font-size: 18px;
        text-align: center;
    }
    .customers-list{
        display: flex;
        flex-direction: column;
    }

    .customers-item{
        width: 400px;
        margin: 10px 0;
    }

    .enjoy .container{
        display: flex;
        flex-direction: column;
    }

    .enjoy-title{
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .container{
        display: flex;
        flex-direction: column;
    }

    .footer-list{
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .footer-item{
        padding: 10px;
    }
}

@media (min-width: 1024px){
    .container{
        width: 100%;
    }

    .container-fluid{
        width: 100%;
    }
}